<ion-view view-title="{{ resto.name }}">
  <ion-content>
    <!--<ion-list>-->
    <!--  <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
    <!--    {{playlist.title}}-->
    <!--  </ion-item>-->
    <!--</ion-list>-->
    	<!--<div class="row_image_func" ng-style="{'background-image': 'url({})'};-->
    	<!--                                    width: 100%;-->
     <!--                                     height: 400px;-->
     <!--                                     background-size: 100% 100%;">-->
     
     <!-- </div>-->
     
     <div>
       <img src="img/resto/images.jpeg" style="width: 100vw; height: 200px;">
     </div>
			 
    <div class="list">

      <a class="item item-icon-left" href="#">
          <i class="icon ion-android-pin"></i>
          <p>Location</p>
          <h3>{{ resto.location }}</h3>
      </a>
      
      <a class="item item-icon-left" href="#">
          <i class="icon ion-android-time"></i>
          <p>Open or not</p>
          <h3>{{ resto.open_hour | date : 'hh:mm:ss a' }}</h3>
      </a>
      
      <a class="item item-icon-left" href="#">
          <i class="icon ion-android-restaurant"></i>
          <p>cuisine</p>
          <h3>{{ resto.cuisine }}</h3>
      </a>

    </div>
    
    <a class="button button-block button-positive" href="#/tab/menu">Show Menu</a>
  </ion-content>
</ion-view>
