<ion-view view-title="Events">

  <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">
    <br> <br> <br><br>
    <div class="card" ng-repeat="event in events" ng-click=openEvent(event) ng-init=sortEvents(event)>
      <div class="item item-divider">
        <a class="item item-icon-left item-icon-right"  href="#/tab/eventdetails" >
        <i class="icon ion-ios-cog custom-icon-main"></i>
          <h2 style="color:#ef473a">{{ event.name }}</h2>
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
    <!--
        Event
        <a class="item item-icon-left" href="#">
         <i class="ion-ios-arrow-forward"></i>
        </a>
      -->
      </div>
      <!--<div class="item item-text-wrap">-->
      <!--  <p>-->
      <!--    <i class="icon ion-ios-calendar"></i>-->
      <!--    {{event.time |  date : 'fullDate' : 'UTC'}}-->
      <!--  </p>-->
      <!--  <p>-->
      <!--    <i class="icon ion-ios-time"></i>-->
      <!--    {{event.time |  date : 'shortTime' : 'UTC'}}-->
      <!--  </p>-->
      <!--  <p>-->
      <!--    <i class="ion-ios-location"></i>-->
      <!--    {{ event.venue }}-->
      <!--  </p>-->
  
      <!--</div>-->
      
      <div class="item item-text-wrap">
        <div ng-show="isEventDate(event)">
          <p>
            <i class="icon ion-ios-calendar"></i>
            {{ getEventDate(event) }}
          </p>
        </div>
        <div ng-show="!isEventDate(event)">
          <p>
            <i class="icon ion-ios-calendar"></i>
            Date shall be announced later
          </p>
        </div>
        <div ng-show="isEventTime(event)">
          <p>
            <i class="icon ion-ios-clock"></i>
            {{ getEventTime(event) }}
          </p>
        </div>
        <div ng-show="!isEventTime(event)">
          <p>
            <i class="icon ion-ios-calendar"></i>
            Time shall be announced later
          </p>
        </div>
        <div ng-show="isEventVenue(event)">
          <p>
            <i class="ion-ios-location"></i>
            {{ event.venue }}
          </p>
        </div>
        <div ng-show="!isEventVenue(event)">
          <p>
            <i class="ion-ios-location"></i>
            Venue shall be announced later
          </p>
        </div>
      </div>
      
      <div class="item item-text-wrap">
        <h3>{{ event.description | limitTo: 250 }}...</h3>
      </div>
    </div>
    <br> <br>
   </ion-scroll>
</ion-view>

