<ion-view view-title="Calendar">
  <!--<ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}"></img>
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>-->
  
    <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">
      <!--<div class="list">-->
    

      <!--  <a ng-repeat="event in events" ng-click=openEvent(event) href="#/tab/eventdetailsCalendar">-->
      <!--      <div ng-if="eventTime(event.time) > currentTime()">    -->
              
      <!--          <div class="button-ios-rounded" style="background-color: #2ecc9b">-->
      <!--            {{ eventType(event) | limitTo:1 }}-->
      <!--          </div>-->
              
      <!--        <h2 style="color:red">{{event.time |  date : 'fullDate' : 'UTC'}}</h2>-->
      <!--        <h4>{{event.time |  date : 'shortTime' : 'UTC'}}</h4>-->
      <!--        <h4 style="color:grey">{{ event.name }}</h4>-->
      <!--        <h4 style="color:grey">{{ eventType(event) }}</h4>-->
      <!--      </div>          -->
      <!--    </a>-->
      <!--</div>-->
      <br><br><br><br>
        <div class="list">
          <a  ng-repeat="event in events" style="text-decoration:none" ng-click=openEvent(event) href="#/tab/eventdetailsCalendar" >
            <div ng-if="  eventTime(event.time) > currentTime()"> 
              <li class="item">
                <div class="row">
                  <div class="col col-25">
                    <div class="button-ios-rounded" style="background-color:{{ getColor(event) }}">
                      {{ eventType(event) | limitTo:1 }}
                    </div>
                  </div>  
                  <div class="col col-75">
                    <h2 style="color:red">{{ getEventDate(event) }}</h2>
                    <h4 style="color:grey">{{ event.name }}</h4>
                    <h4 style="color:grey">{{ eventType(event) }}</h4>
                  </div>
                </div>
              </li>
            </div>
          </a>
        </div>
      <br><br>
    </ion-scroll>
  
</ion-view>
